.layout {
	text-transform: capitalize;
	font-family: arial;
	width: 600px;
	margin: 0px auto;
}

.layout>table {
	width: 100%;
	margin-top: 30px;
	/*border: 1px solid #ccc;*/
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

.h-table-v1 {
	border: 1px solid #ccc;
}

.h-table-v1 tr,.h-table-v2 tr {
	border-bottom: 1px solid #ddd;
}

.h-table-v1 th,.h-table-v2 th {
	padding: 8px;
}

.h-table-v1 th {
	background-color: #4caf50;
	color: #fff;
}

.h-table-v1 td,.h-table-v2 td {
	padding: 8px;
}

.h-table-v1 tr:nth-child(even),.h-table-v2 tr:nth-child(even) {
	background-color: #f1f1f1;
}





